#sprint_input_group{
	max-width: 160px;
}

.container-fluid {
	position: absolute;
	left: 5%;
	width: 90%;
}

table {
	border-collapse: collapse;
	border-radius: 4px;
	background-color: white;
	border: solid 1px #ebedf0;
	box-shadow: 0px 1px 0 0 #ebedf0;

}

td, th {
	white-space: pre;


	text-align: left;
	vertical-align: middle;
	border: solid 1px #ebedf0;
	box-shadow: 0px 1px 0 0 #ebedf0;

	font-family: Avenir-Roman;
	font-size: 14px;
	color: #454a54;
}

.table td, .table th{
	padding-left: 0.3rem;
	padding-right: 0.3rem;
	padding-top: 0.3rem;
	padding-bottom: 0.3rem;
}

th {
	font-weight: 900;
	background-color: rgba(235, 237, 240, 0.8)
}

tbody tr:hover {
	background-color: rgba(81, 138, 200, 0.1);
}

tr.row_story {
	background-color: rgba(235, 237, 240, 0.4);
    cursor: pointer;
}

tr.row_subtask {
	display: none;
}

td.cell_summary {
	white-space: normal;
}

td.cell_time {
	text-align: right;
}

td.cell_status_count {
	text-align: center;
}

td.cell_progress {
}

.progress {
	min-width: 80px;
}

@media only screen and (min-width: 1920px) {
	.progress {
		min-width: 150px;
	}
}

th.cell_summary, td.cell_summary {
	display: none;
}

@media only screen and (min-width: 1920px){
	th.cell_summary, td.cell_summary {
		display: table-cell;
	}
}

.progess_percentage {
	vertical-align: middle;
	text-align: : center;
}


