#sprint_input_group{
	max-width: 160px;
}

.container-fluid {
	position: absolute;
	left: 5%;
	width: 90%;
}


.days_remaining_container {
	width: 200px;
	height: 200px;

	background-color: white;
	
	border-color: black;
	border-width: 2px;

	border-radius: 5%;

	text-align: center;
	vertical-align: middle;

}

.days_remaining_contents {

	padding-top: 10%;
	padding-bottom: 10%;
	padding-left: 10%;
	padding-right: 10%;

}

.days_remaining_contents h1 {
	font-size: 5rem;
}

table {
	border-collapse: collapse;
	border-radius: 4px;
	background-color: white;
	border: solid 1px #ebedf0;
	box-shadow: 0px 1px 0 0 #ebedf0;

}

.table-responsive {
	display: table;
}

td, th {
	/*white-space: pre;*/

	text-align: left;

	border: solid 1px #ebedf0;
	box-shadow: 0px 1px 0 0 #ebedf0;

	font-family: Avenir-Roman;
	font-size: 14px;
	color: #454a54;
}

.table td, .table th{
	padding-left: 0.3rem;
	padding-right: 0.3rem;
	padding-top: 0.3rem;
	padding-bottom: 0.3rem;

	vertical-align: middle;
}

th {
	font-weight: 900;
	background-color: rgba(235, 237, 240, 0.8)
}

tbody tr:hover {
	background-color: rgba(81, 138, 200, 0.1);
}

tr.row_story {
	background-color: rgba(235, 237, 240, 0.4);
    cursor: pointer;
}

tr.row_subtask {
	display: none;
}

td {
	height: 38px;
}

td.cell_key {
/*	width: 75px;*/
	min-width: 75px;
	max-width: 100px;
}

td.cell_issuetype {
	/*width: 120px;*/
	min-width: 120px;
	max-width: 125px;
}

td.cell_summary {
	white-space: normal;
}

th.cell_summary, td.cell_summary {
	/*display: none;*/
	min-width: 400px;
}

/*@media only screen and (min-width: 1920px){
	th.cell_summary, td.cell_summary {
		display: table-cell;
		max-width: 600px;
	}
}*/


td.cell_subtasks {
	min-width: 85px;
	max-width: 110px;
}

td.cell_status {
	min-width: 100px;
	max-width: 125px;
}

td.cell_assignee {
	min-width: 120px;
	max-width: 145px;	
}

th.cell_time, td.cell_time {
	min-width: 110px;
	max-width: 135px;
	text-align: right;
}

th.cell_progress {
	text-align: center;
}

td.cell_progress_percentage {
	vertical-align: middle;
	text-align: right;
	min-width: 45px;
	max-width: 70px;
}

td.cell_progress {
	vertical-align: middle;
	min-width: 80px;
	max-width: 115px;
}





/*@media only screen and (min-width: 1920px) {
	.progress {
		min-width: 150px;
	}
}*/


/*.traffic_light {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  display: inline-block;
  border-style: solid;
  border-width: 1px;
}

.traffic_light_green {
	background-color: #b0f36d;
	border-color: #8cee2b;
}

.traffic_light_amber {
	background-color: #f3f36d;
	border-color: #eeee2b;
}

.traffic_light_red {
	background-color: #f36d6d;
	border-color: #ee2b2b;
}

.traffic_light_blue {
	background-color: #6db0f3;
	border-color: #2b8cee;

}

.traffic_light_inProgress {
	background-color: #cccccc;
	border-color: #8c8c8c;
}*/

.alert {
    margin-bottom: 0;
	padding: .2rem .2rem;
}

.alert-overruning {
	color: #FFFFFF;
	background-color: #000000;
	border-color: #000000;
}

.cell_TSvsOE {
	display: none;
}

th.cell_TSvsOE {
	text-align: center;
}

td.cell_TSvsOE {
	text-align: right;
}



td.cell_TSvsOE.cell_TSvsOE-time {
	min-width: 100px;
	max-width: 125px;
}

td.cell_TSvsOE.cell_TSvsOE-trafflic_light {
	min-width: 45px;
	width: 45px;
}

th.cell_status_count, td.cell_status_count {
	text-align: center;
	min-width: 65px;
	max-width: 80px;
}

.chart_div {
	display: block;
	margin-left: auto;
    margin-right: auto;
    text-align: center;
}

/*.sticky {
	position: fixed;
	top: 0;
	width: 100%
}*/

tr.defectTable_row {
	background-color: rgba(235, 237, 240, 0.4);
}

th.defectTable_cell_storyKey{
	min-width: 120px;
	width: 120px;
}

td.defectTable_cell_defectType, th.defectTable_cell_defectType {
	min-width: 100px;
	/*width: 100px;*/
	text-align: right;
}

td.defectTable_cell_total, th.defectTable_cell_total {
	min-width: 60px;
	/*width: 60px;*/
	text-align: right;

}

td.defectTable_cell_timespent, th.defectTable_cell_timespent {
	min-width: 100px;
	/*width: 100px;*/
	text-align: right;
}

td.defectTable_cell_average, th.defectTable_cell_average {
	min-width: 60px;
	/*width: 60px;*/
	text-align: right;
}


.card {
	margin-top: 2%;
	margin-bottom: 2%;
}

.card-columns {
	column-count: 2;
}

.card.in_columns {
	margin-right: 4%;
}

th.issuetypeTable_issuetype, td.issuetypeTable_issuetype {
	min-width: 100px;
	text-align: left;
}

th.issuetypeTable_count, td.issuetypeTable_count {
	min-width: 60px;
	text-align: right;
}

th.issuetypeTable_time, td.issuetypeTable_time {
	min-width: 130px;
	text-align: right;
}