<!DOCTYPE html>
<html>
<head>
	<title>AgriDigital Sprint Dashboard</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/style.css') }}">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

</head>
<body>

	<div class="jumbotron">
		<h1>AgriDigital Sprint Dashboard</h1>
		<h3>{{ stories[0]['sprints'][0]['name'] }}</h3>
		<div id="sprint_input_group" class="input-group">
			<div class="input-group-prepend">
				<span class="input-group-text">Sprint No:</span>
			</div>
			<input id="sprint_input" type="text" class="form-control" placeholder="">
		</div>
		
		
		
	</div>
	<div class="container-fluid">
		<table class="table table-condensed">
			<thead>
				<tr>
					<th>Issue Key</th>
					<th>Issue Type      </th>
					<th>Summary</th>
					<th>Subtask   </th>
					<th>Status               </th>
					<th>Original Estimate</th>
					<th>Time Spent</th>
					<th>Remaining Time</th>
					<th>Progress</th>
					<th></th>
					<th>Dev In Progress</th>
					<th>To Do</th>
					<th>Done</th>
					<th>Dev Review</th>
					<th>Awaiting UAT</th>
				</tr>
			</thead>
			<tbody>
				{% for issue in stories %}
					<tr class="row_story">

						<td><a href="{{ issue.self }}">{{ issue.key }}</a></td>
						<td><img src="{{ issue.issuetypeIcon }}" height="15" width="15"> {{ issue.issuetype }}</td>
						<td class="cell_summary">{{ issue.summary }}</td>
						<td style="text-align: center;">{{ issue.subtasks|length }}</td>
						<td>{{ issue.status }}</td>
						<td class="cell_time">{% if issue.aggregatetimeoriginalestimate != None %}{{ issue.aggregatetimeoriginalestimate_str }}{% endif %}</td>
						<td class="cell_time">{% if issue.aggregatetimespent != None %}{{ issue.aggregatetimespent_str }}{% endif %}</td>
						<td class="cell_time">{% if issue.aggregatetimeestimate != None %}{{ issue.aggregatetimeestimate_str }}{% endif %}</td>
						<td class="cell_progress_percentage">{{ issue.progress }}%</td>
						<td class="cell_progress"><div class="progress" style="height: 10px; width: {{ issue.progress }}%"><div class="progress-bar" style="height: 10px; width: {{ issue.progress }}%"></div></div></td>

						<td class="cell_status_count">{% if issue.subtask_status_count['Dev In Progress'] > 0 %}{{ issue.subtask_status_count['Dev In Progress'] }}{% endif %}</td>
						<td class="cell_status_count">{% if issue.subtask_status_count['To Do'] > 0 %}{{ issue.subtask_status_count['To Do'] }}{% endif %}</td>
						<td class="cell_status_count">{% if issue.subtask_status_count['Done'] > 0 %}{{ issue.subtask_status_count['Done'] }}{% endif %}</td>
						<td class="cell_status_count">{% if issue.subtask_status_count['Dev Review'] > 0 %}{{ issue.subtask_status_count['Dev Review'] }}{% endif %}</td>
						<td class="cell_status_count">{% if issue.subtask_status_count['Awaiting UAT'] > 0 %}{{ issue.subtask_status_count['Awaiting UAT'] }}{% endif %}</td>

						{% if issue.subtasks|length > 0 %}

							{% for subtask in issue.subtasks %}

								<tr class="row_subtask">
									
									<td><a href="{{ subtask.self }}">{{ subtask.key }}</td></a>
									<td><img src="{{ subtask.issuetypeIcon }}" height="15" width="15"> {{ subtask.issuetype }}</td>
									<td class="cell_summary">{{ subtask.summary }}</td>
									<td>{{ subtask.devteam }}</td>
									<td>{{ subtask.status }}</td>
									<td class="cell_time">{% if subtask.aggregatetimeoriginalestimate != None %}{{ subtask.aggregatetimeoriginalestimate_str }}{% endif %}</td>
									<td class="cell_time">{% if subtask.aggregatetimespent != None %}{{ subtask.aggregatetimespent_str }}{% endif %}</td>
									<td class="cell_time">{% if subtask.aggregatetimeestimate != None %}{{ subtask.aggregatetimeestimate_str }}{% endif %}</td>
									<td class="cell_progress_percentage">{{ subtask.progress }}%</td>
									<td class="cell_progress"></td>
									<td class="cell_status_count">{% if subtask.status == 'Dev In Progress' %}*{% endif %}</td>
									<td class="cell_status_count">{% if subtask.status == 'To Do' %}*{% endif %}</td>
									<td class="cell_status_count">{% if subtask.status == 'Done' %}*{% endif %}</td>
									<td class="cell_status_count">{% if subtask.status == 'Dev Review' %}*{% endif %}</td>
									<td class="cell_status_count">{% if subtask.status == 'Awaiting UAT' %}*{% endif %}</td>
								</tr>

							{% endfor %}

						{% endif %}

					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</body>

<script type="text/javascript">

	
	$('.row_story').click(function(){
		$(this).nextUntil('tr.row_story').slideToggle(200);
	});

	$('#sprint_input').keypress(function(e){
		if(e.which == 13){
			console.log("sprint_input entered");
			console.log($(this).val());
			window.location.replace(window.location.origin + "/sprint/" + $(this).val())
		}
	})
	
	$(document).ready(function(){
		$('#sprint_input').attr('placeholder', window.location.pathname.slice(8,10))
	})

</script>


</html>