{% extends "index.html" %}


{% block title %}

<h3>{{ this_sprint['name'] }} | {{ this_sprint['state'] }}</h3>

{% endblock %}



{% block content %}

<!--   DASHBOARD    -->

<div class="container-fluid">

	<!--   TABLE    -->

	<div class="row">
		<div class="col-lg-6" align="left">
			<h3>Sprint Stories</h3>
		</div>
		<div class="col-lg-6" align="right">
			<button id="table_expand_all" type="button" class="btn btn-success btn-expand_all">Expand Subtasks</button>
			<button id="table_TEvsOE" type="button" class="btn btn-success btn-show_TEvsOE">Show TE vs OE</button>
		</div>
			
	</div>
	
	<br>

	<div class="row">
		<table class="table table-condensed">
			
			<thead id="table_stories_header">
				<tr>
					<th>Issue Key</th>
					<th>Issue Type      </th>
					<th class="cell_summary">Summary</th>
					<th>Subtask   </th>
					<th>Status               </th>
					<th>Assignee      </th>
					<th>Original Estimate</th>
					<th>Time Spent</th>
					<th>Remaining Time</th>
					<th colspan="2">Progress</th>
					<th class="cell_TEvsOE" colspan="3">TS vs OE</th>
					<th>To Do </th>
					<th>In Dev</th>
					<th>DevRev</th>
					<th>Aw UAT</th>
					<th>Done  </th>
				</tr>
			</thead>

			<tbody>
				{% for issue in stories %}
					<tr class="row_story">

						<td><a href="{{ issue.self }}">{{ issue.key }}</a></td>
						<td><img src="{{ issue.issuetypeIcon }}" height="15" width="15"> {{ issue.issuetype }}</td>
						<td class="cell_summary">{{ issue.summary }}</td>
						<td style="text-align: center;">{{ issue.subtasks|length }}</td>
						<td>{{ issue.status }}</td>
						<td>{{ issue.assignee }}</td>
						<td class="cell_time" actual="{{ issue.aggregatetimeoriginalestimate }}">{% if issue.aggregatetimeoriginalestimate != None %}{{ issue.aggregatetimeoriginalestimate_str }}{% endif %}</td>
						<td class="cell_time" actual="{{ issue.aggregatetimespent }}">{% if issue.aggregatetimespent != None %}{{ issue.aggregatetimespent_str }}{% endif %}</td>
						<td class="cell_time" actual="{{ issue.aggregatetimeestimate }}">{% if issue.aggregatetimeestimate != None %}{{ issue.aggregatetimeestimate_str }}{% endif %}</td>
						<td class="cell_progress_percentage">{% if issue.progress != None %}{{ issue.progress }}%{% endif %}</td>
						<td class="cell_progress"><div class="progress" style="height: 10px; width: 100%"><div class="progress-bar" style="height: 10px; width: {{ issue.progress }}%"></div></div></td>
						<td class="cell_TEvsOE" actual="{{ issue.TEvsOE.value }}">{% if issue.TEvsOE.value != None %}{{ issue.TEvsOE.rendered }}{% endif %}</td>
						<td class="cell_TEvsOE">{% if issue.TEvsOE.value != None %}{{ issue.TEvsOE.percentage }}%{% endif %}</td>
						<td class="cell_TEvsOE" align="center">{% if issue.TEvsOE.traffic_light != None %}<span class="traffic_light traffic_light_{{ issue.TEvsOE.traffic_light }}"></span>{% endif %}</td>
						<td class="cell_status_count">{% if issue.subtask_status_count['To Do'] > 0 %}{{ issue.subtask_status_count['To Do'] }}{% endif %}</td>
						<td class="cell_status_count">{% if issue.subtask_status_count['Dev In Progress'] > 0 %}{{ issue.subtask_status_count['Dev In Progress'] }}{% endif %}</td>
						<td class="cell_status_count">{% if issue.subtask_status_count['Dev Review'] > 0 %}{{ issue.subtask_status_count['Dev Review'] }}{% endif %}</td>
						<td class="cell_status_count">{% if issue.subtask_status_count['Awaiting UAT'] > 0 %}{{ issue.subtask_status_count['Awaiting UAT'] }}{% endif %}</td>
						<td class="cell_status_count">{% if issue.subtask_status_count['Done'] > 0 %}{{ issue.subtask_status_count['Done'] }}{% endif %}</td>
						

						{% if issue.subtasks|length > 0 %}

							{% for subtask in issue.subtasks %}

								<tr class="row_subtask">
									
									<td><a href="{{ subtask.self }}">{{ subtask.key }}</td></a>
									<td><img src="{{ subtask.issuetypeIcon }}" height="15" width="15"> {{ subtask.issuetype }}</td>
									<td class="cell_summary">{{ subtask.summary }}</td>
									<td>{{ subtask.devteam }}</td>
									<td>{{ subtask.status }}</td>
									<td>{{ subtask.assignee }}</td>
									<td class="cell_time" actual="{{ subtask.aggregatetimeoriginalestimate }}">{% if subtask.aggregatetimeoriginalestimate != None %}{{ subtask.aggregatetimeoriginalestimate_str }}{% endif %}</td>
									<td class="cell_time" actual="{{ subtask.aggregatetimespent }}">{% if subtask.aggregatetimespent != None %}{{ subtask.aggregatetimespent_str }}{% endif %}</td>
									<td class="cell_time" actual="{{ subtask.aggregatetimeestimate }}">{% if subtask.aggregatetimeestimate != None %}{{ subtask.aggregatetimeestimate_str }}{% endif %}</td>
									<td class="cell_progress_percentage">{% if subtask.progress != None %}{{ subtask.progress }}%{% endif %}</td>
									<td class="cell_progress"><div class="progress" style="height: 10px; width: 100%"><div class="progress-bar bg-warning" style="height: 10px; width: {{ subtask.progress }}%"></div></div></td>
									<td class="cell_TEvsOE" actual="{{ subtask.TEvsOE.value }}">{% if subtask.TEvsOE.value != None %}{{ subtask.TEvsOE.rendered }}{% endif %}</td>
									<td class="cell_TEvsOE">{% if subtask.TEvsOE.value != None %}{{ subtask.TEvsOE.percentage }}%{% endif %}</td>
									<td class="cell_TEvsOE" align="center">{% if subtask.TEvsOE.traffic_light != None %}<span class="traffic_light traffic_light_{{ subtask.TEvsOE.traffic_light }}"></span>{% endif %}</td>
									<td class="cell_status_count">{% if subtask.status == 'To Do' %}*{% endif %}</td>
									<td class="cell_status_count">{% if subtask.status == 'Dev In Progress' %}*{% endif %}</td>
									<td class="cell_status_count">{% if subtask.status == 'Dev Review' %}*{% endif %}</td>
									<td class="cell_status_count">{% if subtask.status == 'Awaiting UAT' %}*{% endif %}</td>
									<td class="cell_status_count">{% if subtask.status == 'Done' %}*{% endif %}</td>
									
								</tr>

							{% endfor %}

						{% endif %}

					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>

	<!--   BURNDOWNS    -->
	<br>

	<div class="row">
		<h3>Sprint Burndown</h3>
	</div>

	<br>

	<div class="row justify-content-center">
		<div class="col-xs-4 chart_div">
			<div id="backend_burndown_chart" class=""></div>
		</div>
		<div class="col-xs-4 chart_div">
			<div id="frontend_burndown_chart" class=""></div>
		</div>
		<div class="col-xs-4 chart_div">
			<div id="test_burndown_chart" class=""></div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-4 chart_div">
			<div id="sprint_burndown_chart" class=""></div>
		</div>
	</div>


	<!--  DEFECTS -->
	<br>

	<div class="row">
		<h3>Story Defects</h3>
	</div>

	<br>

	<div class="row">
		<div class="col-lg-8">
			<table class="table table-condensed">
			<thead>
				<tr>
					<th></th>
					
					{% for key in defects['defects_total_count'] if key != 'Total' %}
						<th>{{ key }}</th>
					{% endfor %}
					<th>Total</th>
					<th>Time Spent</th>
					<th>Average</th>
				</tr>
			</thead>

			<tbody>
				{% for story in defects['stories_with_defects'] %}
					<tr>
						<td><a href="{{ story['self'] }}">{{ story['key'] }}</a></td>
						
						{% for key in defects['defects_total_count'] if key != 'Total' %}
							<td>{% if key in story['subtask_rootcauses'] %}{{ story['subtask_rootcauses'][key]['count'] }}{% else %}{% endif %}</td>
						{% endfor %}
						<td>{{ story['total_count'] }}</td>
						<td>{{ story['timespent_on_defects_rendered'] }}</td>
						<td>{{ (story['timespent_on_defects'] / (60 * 60 * story['total_count'])) | round(1, 'common') }}h</td>
					</tr>
				{% endfor %}
			</tbody>


			<tfoot>
				<tr>
					<th>Total</th>
					
					{% for key, item in defects['defects_total_count'].items() if key != 'Total' %}
						<th defect_type="{{ key }}">{{ item['count'] }}</th>
					{% endfor %}
		
					<th defect_type="Total">{{ defects['defects_total_count']['Total']['count'] }}</th>
					<th></th>
					<th></th>
				</tr>
				<tr>
					<th>Time Spent</th>
					
					{% for key, item in defects['defects_total_count'].items() if key != 'Total' %}
						<th defect_type="{{ key }}" actual="{{ item['timespent'] }}">{{ item['timespent_rendered'] }}</th>
					{% endfor %}
					
					<th></th>
					<th defect_type="Total" actual="{{ defects['defects_total_count']['Total']['timespent'] }}">{{ defects['defects_total_count']['Total']['timespent_rendered'] }}</th>
					<th></th>
				</tr>
				<tr>
					<th>Average</th>
					
					{% for key, item in defects['defects_total_count'].items() if key != 'Total' %}
						<th defect_type="{{ key }}">{{ (item['timespent'] / (60 * 60 * item['count']))|round(1, 'common') }}h</th>
					{% endfor %}
					
					<th></th>
					<th></th>
					<th defect_type="Total">{{ (defects['defects_total_count']['Total']['timespent'] / (60 * 60 * defects['defects_total_count']['Total']['count']))|round(1, 'common') }}h</th>
				</tr>
			</tfoot>				
			</table>
		</div>
		<div class="col-lg-4 chart_div">
			<div id="defect_chart" class=""></div>
		</div>
	</div>

</div>

{% endblock %}





{% block script %}

<!-- TABLE BUTTONS -->
<script type="text/javascript">
	
	$('div.row').on('click', 'button.btn-expand_all', function(event) {
		$('tr.row_subtask').attr("style", "display: table-row;");
		$(this).removeClass("btn-success");
		$(this).addClass("btn-warning");
		$(this).removeClass("btn-expand_all");
		$(this).addClass("btn-collapse_all");
		$(this).text("Collapse Subtasks");
	})
	
	$('div.row').on('click', 'button.btn-collapse_all', function(event){
		$('tr.row_subtask').attr("style", "display: none;");
		$(this).removeClass("btn-warning");
		$(this).addClass("btn-success");
		$(this).removeClass("btn-collapse_all");
		$(this).addClass("btn-expand_all");
		$(this).text("Expand Subtasks");
	})

	$('div.row').on('click', 'button.btn-show_TEvsOE', function(event){
		$('td.cell_TEvsOE').show();
		$('th.cell_TEvsOE').show();
		$(this).removeClass("btn-success");
		$(this).addClass("btn-warning");
		$(this).removeClass("btn-show_TEvsOE");
		$(this).addClass("btn-hide_TEvsOE");
		$(this).text("Hide TE vs OE");
	})

	$('div.row').on('click', 'button.btn-hide_TEvsOE', function(event){
		$('td.cell_TEvsOE').attr("style", "display: none;");
		$('th.cell_TEvsOE').attr("style", "display: none;");
		$(this).removeClass("btn-warning");
		$(this).addClass("btn-success");
		$(this).removeClass("btn-hide_TEvsOE");
		$(this).addClass("btn-show_TEvsOE");
		$(this).text("Show TE vs OE");
	})

</script>

<!-- CHARTS JAVASCRIPT -->
<script type="text/javascript">

    var ticks_list = [];
	var millieconds_per_day = 1000*60*60*24;
	var start_date = new Date('{{ stories[0]['sprints'][0]['startDate'] }}');
	start_date.setMilliseconds(0);
	start_date.setSeconds(0);
	start_date.setMinutes(0);
	start_date.setHours(0);

	for(i = 1; i < 14; i++){
		ticks_list.push(new Date(Date.parse(start_date) + i * millieconds_per_day))
	};

	google.charts.load('current', {'packages':['line', 'corechart']});
    google.charts.setOnLoadCallback(drawSprintBurndown);
    google.charts.setOnLoadCallback(drawBackendBurndown);
    google.charts.setOnLoadCallback(drawFrontendBurndown);
    google.charts.setOnLoadCallback(drawTestBurndown);
    google.charts.setOnLoadCallback(drawDefectPi);

    function drawSprintBurndown() {

      var data = new google.visualization.DataTable(
      	{
      		cols: [{id: 'datetime', label: 'Time', type: 'date'},
	      	       {id: 'timeestimate', label: 'Time Estimate', type: 'number'},
	      	       {role: 'tooltip', label:'Key', type: 'string'},
	      	       ],
	      	rows: [{% for d in  sprint_burndown %}{c: [{v: new Date('{{ d[0] }}')}, {v: {{ d[4] / (60 * 60) }}}, {v: '{{ d[2] }}'}]},
	      		{% endfor %}]
      	});

      // data.addRows();

      var options = {
      	title: 'Sprint',
      	hAxis: {
      		viewWindow: {
      			min: new Date('{{ this_sprint['startDate'] }}'),
      			max: new Date('{{ this_sprint['endDate'] }}'),
      		},
      		format: 'MMM d hh:mm',
      		ticks: ticks_list,

        },
        vAxis: {
			title: 'Time Estimate [Hours]',
        },
      	legend: {position: 'none'},
      	series: {0: { color: '#f1ca3a'}},
      	height: 500,
      	width: 550,
      };

      var chart = new google.charts.Line(document.getElementById('sprint_burndown_chart'));

      chart.draw(data, google.charts.Line.convertOptions(options));
    }

    function drawBackendBurndown() {

      var data = new google.visualization.DataTable(
      	{
      		cols: [{id: 'datetime', label: 'Time', type: 'date'},
	      	       {id: 'timeestimate', label: 'Time Estimate', type:'number'}
	      	       ],
	      	rows: [{% for d in  backend_burndown %}{c: [{v: new Date('{{ d[0] }}')}, {v: {{ d[4] /(60 * 60) }}}]},
	      	{% endfor %}]
      	});

      // data.addRows();

      var options = {
      	title: 'Backend subtasks',
      	vAxis: {title: 'Time Estimate [Hours]'},
      	hAxis: {
      		viewWindow: {
      			min: new Date('{{ this_sprint['startDate'] }}'),
      			max: new Date('{{ this_sprint['endDate'] }}'),
      		},
      		format: 'MMM d',
      	},
      	legend: {position: 'none'},
      	height: 500,
      	width: 550,
      };

      var chart = new google.charts.Line(document.getElementById('backend_burndown_chart'));

      chart.draw(data, google.charts.Line.convertOptions(options));
    }

    function drawFrontendBurndown() {

      var data = new google.visualization.DataTable(
      	{
      		cols: [{id: 'datetime', label: 'Time', type: 'date'},
	      	       {id: 'timeestimate', label: 'Time Estimate', type: 'number'},
	      	       {role: 'tooltip', label:'Key', type: 'string'},
	      	       ],
	      	rows: [{% for d in  frontend_burndown %}{c: [{v: new Date('{{ d[0] }}')}, {v: {{ d[4] / (60 * 60) }}}, {v: '{{ d[2] }}'}]},
	      		{% endfor %}]
      	});

      // data.addRows();

      var options = {
      	title: 'Front End subtasks',
      	hAxis: {
      		viewWindow: {
      			min: new Date('{{ this_sprint['startDate'] }}'),
      			max: new Date('{{ this_sprint['endDate'] }}'),
      		},
      		format: 'MMM d hh:mm',
      		ticks: ticks_list,

        },
        vAxis: {
        	title: 'Time Estimate [Hours]',
        },
      	legend: {position: 'none'},
      	series: {0: { color: '#e2431e'}},
      	height: 500,
      	width: 550,
      };

      var chart = new google.charts.Line(document.getElementById('frontend_burndown_chart'));

      chart.draw(data, google.charts.Line.convertOptions(options));
    }

    function drawTestBurndown() {

      var data = new google.visualization.DataTable(
      	{
      		cols: [{id: 'datetime', label: 'Time', type: 'date'},
	      	       {id: 'timeestimate', label: 'Time Estimate', type: 'number'},
	      	       {role: 'tooltip', label:'Key', type: 'string'},
	      	       ],
	      	rows: [{% for d in  test_burndown %}{c: [{v: new Date('{{ d[0] }}')}, {v: {{ d[4] / (60 * 60) }}}, {v: '{{ d[2] }}'}]},
	      		{% endfor %}]
      	});

      // data.addRows();

      var options = {
      	title: 'Test subtasks',
      	hAxis: {
      		viewWindow: {
      			min: new Date('{{ this_sprint['startDate'] }}'),
      			max: new Date('{{ this_sprint['endDate'] }}'),
      		},
      		format: 'MMM d hh:mm',
      		ticks: ticks_list,

        },
        vAxis: {
			title: 'Time Estimate [Hours]',
        },
      	legend: {position: 'none'},
      	series: {0: { color: '#f1ca3a'}},
      	height: 500,
      	width: 550,
      };

      var chart = new google.charts.Line(document.getElementById('test_burndown_chart'));

      chart.draw(data, google.charts.Line.convertOptions(options));
    }

    function drawDefectPi(){

    	var data = google.visualization.arrayToDataTable(
    	[
    		['Defect Type', 'Time Spent',],
    		{% for d in defects['defects_total_count'] if d != 'Total' %}['{{ d }}', {{ (defects['defects_total_count'][d]['timespent'] / (60 * 60)) | round(1, 'common') }}],{% endfor %}
    	]);

    	var options = {
    		title: '',
    		height: 600,
      		width: 600,
      		legend: {
      			position: 'right'
      		}

    	};

    	var chart = new google.visualization.PieChart(document.getElementById('defect_chart'));
    	chart.draw(data, options);

    }

</script>

{% endblock %}